{% extends "base.twig" %}

{% block content %}
    <div id="main-container" class="notLiked">

    </div>

{% endblock %}

{% block footercontents %}
    <script>
    window.fbAsyncInit = function() {
        FB.init({
          appId      : '299186130254281',
          xfbml      : true,
          version    : 'v2.0',
          cookies    : true,
          status     : true
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/sl_SI/sdk/debug.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="//{{app.request.host}}{{ app.request.basepath }}/compressed/all.js"></script>
{% endblock %}
